@import 'keyframes';
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    max-width: 480px;
    max-height: 800px;
    font-size: 15px;
    font-family:'JY357c1bda8d1618a';
    letter-spacing: 1px;
    position: relative;
}
ul {
    list-style: none;
}
#i-progress {
    width: 100%;
    height: 100%;
    background: #333;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
#i-container {
    width: 100%;
    height: 100%;
    .page {
        width: 100%;
        height: 100%;
    }
}
#page1 {
    background: url('../src/bg1.png');
    background-size: 100% 100%;
    #female {
        height: 55%;
        position: absolute;
        left: -13%;
        z-index: 10;
        bottom: 1%;
        img {
            display: block;
            height: 100%;
        }
    }
    #p1 {
        background: url('../src/dialog-top.png');
        background-size: 100% 100%;
        width: 65%;
        height: 30%;
        position: absolute;
        z-index: 10;
        top: 15%;
        right: 5%;
        p {
            position: absolute;
            left: 15%;
            width: 80%;
            font-size: 2vh;
            line-height: 3vh;
            display: none;
            z-index: 100;
        }
        p:nth-child(1) {
            top: 10%;
        }
        p:nth-child(2) {
            top: 23%;
        }
        p:nth-child(3) {
            top: 36%;
        }
    }
    #p2 {
        background: url('../src/dialog-bottom.png');
        background-size: 100% 100%;
        position: absolute;
        z-index: 10;
        top: 45%;
        width: 45%;
        height: 20%;
        right: 5%;
        display: none;
        p {
            position: absolute;
            top: 17%;
            width: 90%;
            text-align: center;
            font-size: 4vh;
            line-height: 6vh;
            display: none;
        }
    }
    #yellow-bird {
        position: absolute;
        width: 10%;
        top: 2%;
        animation: yellow-bird 10s ease-in-out infinite;
        -webkit-animation: yellow-bird 10s ease-in-out infinite;
        img {
            display: block;
            width: 100%;
            animation: yellow-bird-rotate 1.5s linear infinite;
            -webkit-animation: yellow-bird-rotate 1.5s linear infinite;
        }
    }   
}
#page2 {
    background: url('../src/bg2.png');
    background-size: 100% 100%;
    #female2 {
        height: 40%;
        position: absolute;
        background: url('../src/female2.png') no-repeat;
        background-size: contain;
        z-index: 1;
        left: 55%;
        animation: female2 0.6s ease-in forwards;
        -webkit-animation: female2 0.6s ease-in forwards;
    }
    #dialog-blank {
        position: absolute;
        width: 45%;
        height: 28%;
        left: 5%;
        bottom: 20%;
        background: url('../src/dialog-blank.png');
        background-size: 100% 100%;
        p {
            width: 90%;
            height: 65%;
            margin-top: 10%;
            margin-left: 10%;
            margin-right: 5%;
            font-size: 5vw;
            line-height: 7vw;
        }
    }
    ul {
        position: absolute;
        width: 100%;
        height: 50%;
        z-index: 5;
        top: 0;
        left: 0;
        .item {
            width: 15%;
            border-radius: 50%;
            position: absolute;
            background-size: contain !important;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        }
        .item1 {
            top: 80%;
            left: 5%;
            background: url('../src/food.png');
        }
        .item2 {
            top: 70%;
            left: 23%;
            background: url('../src/medicine.png');
        }
        .item3 {
            top: 65%;
            left: 43%;
            background: url('../src/health.png');
        }
        .item4 {
            top: 70%;
            right: 23%;
            background: url('../src/makeup.png');
        }
        .item5 {
            top: 80%;
            right: 5%;
            background: url('../src/device.png');
        }
    }
    #cloud {
        position: absolute;
        top: -5%;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 30%;
        background: url('../src/cloud.png');
        background-size: 100% 100%;
    }
    #birds {
        position: absolute;
        width: 30%;
        height: 20%;
        bottom: 30%;
        right: 5%;
        background: url('../src/birds.png');
        background-size: 100% 100%;
    }
}
#page3 {
    background: url('../src/bg3.png');
    background-size: 100% 100%;
    .i-light {
        position: absolute;
        opacity: 0;
        width: 10%;
        z-index: 5;
        border-radius: 50%;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 8px 6px rgba(200, 200, 200, 1);
        animation: light 1s linear infinite alternate;
        -webkit-animation: light 1s linear infinite alternate;
        div {
            position: absolute;
            z-index: 4;
            border-radius: 50%;
            box-shadow: 0px 0px 10px 7px rgba(230, 230, 230, 1);
        }
        span {
            height: 200%;
            width: 2px;
            position: absolute;
            z-index: 3;
            left: 49%;
            background: rgba(255, 255, 255, 1);
            animation: spanSpread 0.7s linear;
            -webkit-animation: spanSpread 0.7s linear;
        }
        p {
            position: absolute;
            left:250%;
            font-size: 5vw;
            line-height: 10vw;
            white-space:nowrap;
            color: rgba(230, 230, 230, 1);
        }
    }
    .i-large-light-1 {
        top: 10%;
        left: 10%;
    }
    .i-large-light-2 {
        top: 27%;
        left: 10%;
    }
    .i-large-light-3 {
        top: 44%;
        left: 10%;
    }
    .i-large-light-4 {
        top: 61%;
        left: 10%;
    }
    #cloud1, #cloud2, #cloud3, #moon {
        width: 100%;
        height: 100%;
        position: absolute;
        background-size: 100% 100% !important;
        bottom: 0;
        left: 0;
        opacity: 0;
    }
    #cloud1 {
        background: url('../src/cloud1.png');
        z-index: 100;
    }
    #cloud2 {
        background: url('../src/cloud2.png');
        z-index: 6;
    }
    #cloud3 {
        background: url('../src/cloud3.png');
        z-index: 5;
    }
    #moon {
        background: url('../src/moon.png');
        opacity: 1;
        bottom: 20%;
        z-index: 8;
        animation: moon 30s linear; 
        -webkit-animation: moon 30s linear; 
    }
    #seal {
        position: absolute;
        font-size: 7vw;
        line-height: 8vw;
        word-break: break-all;
        top: 25%;
        right: 10%;
        animation: seal 0.5s ease-in;
        -webkit-animation: seal 0.5s ease-in;
        // animation-delay: 3.5s;
        // -webkit-animation-delay: 3.5s;
    }
}
.i-music {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000000;
    a {
        width: 20px;
        height: 20px;
        display: block;
        padding: 5px;
        box-size: border-box;
        margin: 0;
        background: #26a69a;
        border-radius: 50px;
        img{
            width: 100%; 
            height: 100%;
        }
    }
    audio {
        width: 0;
        height: 0;
        visibility: none;
    }
}
.i-sky {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
}
.i-cloud1 {
    position: absolute;
    top: 10%;
    width: 160px;
    height: 90px;
    z-index: 1;
    animation: cloud1 20s linear infinite alternate;
    -webkit-animation: cloud1 20s linear infinite alternate;
    .item {
        position: absolute;
        border-radius: 50%;
        bottom: 0;
        background: rgba(252, 252, 252, 1);
    }
    .item1 {
        width: 35%;
        height: 35% * 16 / 9;
        left: 0;
    }
    .item2 {
        width: 50%;
        height: 50% * 16 / 9;
        left: 18.75% ;
    }
    .item3 {
        width: 41%;
        height: 41% * 16 / 9;
        left: 43.75%;
    }
    .item4 {
        width: 25%;
        height: 25% * 16 / 9;
        left: 68.75%;
    }
    .item5 {
        width: 61.5%;
        height: 12.5% * 16 / 9;
        left: 17.5%; 
        border-radius: 0;
    }
}
.i-cloud2 {
    position: absolute;
    top: 50%;
    width: 100px;
    height: 100px*9/16;
    animation: cloud2 6s linear infinite;
    -webkit-animation: cloud2 6s linear infinite;
    .item {
        position: absolute;
        border-radius: 50%;
        bottom: 0;
        background: rgba(252, 252, 252, 1);
    }
    .item1 {
        width: 35%;
        height: 35% * 16 / 9;
        left: 0;
    }
    .item2 {
        width: 50%;
        height: 50% * 16 / 9;
        left: 18.75% ;
    }
    .item3 {
        width: 41%;
        height: 41% * 16 / 9;
        left: 43.75%;
    }
    .item4 {
        width: 25%;
        height: 25% * 16 / 9;
        left: 68.75%;
    }
    .item5 {
        width: 61.5%;
        height: 12.5% * 16 / 9;
        left: 17.5%; 
        border-radius: 0;
    }
}
.i-cloud3 {
    position: absolute;
    width: 70px;
    height: 70px*9/16;
    animation: cloud3 5s linear infinite alternate;
    -webkit-animation: cloud3 5s linear infinite alternate;
    .item {
        position: absolute;
        border-radius: 50%;
        bottom: 0;
        background: rgba(210, 210, 210, 1);
    }
    .item1 {
        width: 35%;
        height: 35% * 16 / 9;
        left: 0;
    }
    .item2 {
        width: 50%;
        height: 50% * 16 / 9;
        left: 18.75% ;
    }
    .item3 {
        width: 41%;
        height: 41% * 16 / 9;
        left: 43.75%;
    }
    .item4 {
        width: 25%;
        height: 25% * 16 / 9;
        left: 68.75%;
    }
    .item5 {
        width: 61.5%;
        height: 12.5% * 16 / 9;
        left: 17.5%; 
        border-radius: 0;
    }
}
.i-cloud4 {
    position: absolute;
    top: 5%;
    left: 15%;
    width: 70px;
    height: 70px*9/16;
    .item {
        position: absolute;
        border-radius: 50%;
        bottom: 0;
        background: rgba(244, 244, 244, 1);
    }
    .item1 {
        width: 35%;
        height: 35% * 16 / 9;
        left: 0;
    }
    .item2 {
        width: 50%;
        height: 50% * 16 / 9;
        left: 18.75% ;
    }
    .item3 {
        width: 41%;
        height: 41% * 16 / 9;
        left: 43.75%;
    }
    .item4 {
        width: 25%;
        height: 25% * 16 / 9;
        left: 68.75%;
    }
    .item5 {
        width: 61.5%;
        height: 12.5% * 16 / 9;
        left: 17.5%; 
        border-radius: 0;
    }
}

